{% extends 'admin.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="{{ asset("admin/assets/img/logo.png") }}" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Sign In</h3>
                            <h4>Please login to your account</h4>
                        </div>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}


                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" placeholder="Enter your email address"  name="_username" id="inputEmail" value="{{ last_username }}">
                                <img src="{{ asset("admin/assets/img/icons/mail.svg") }}" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input" placeholder="Enter your password" name="_password" id="inputPassword">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="form-login">
                            <input type="submit" class="btn btn-login" value="Sign In">
                        </div>

                        <div class="signinform text-center">
                            <h4>Don’t have an account? <a href="{{ path("app_register") }}" class="hover-a">Sign Up</a></h4>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="{{ asset("admin/assets/img/login.jpg") }}" alt="img">
                </div>
            </div>
        </div>

    </form>
{% endblock %}
